.calendar {
    border-radius: 1rem 1rem 0 0;
    border: none;
    margin-top: 1rem;
    height: 100vh;
    font-size: 1rem;
    width: 50vw;
  }
  .align {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 810px) {
    .calendar {
      display: none;
    }
  }